*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/**** HEADER SECTION ***********/
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
}

.navbar.sticky{
    padding: 10px auto;
    width: 100%;
    background: #1b1b1b;
}

.navbar .logo{
    text-decoration: none;
    color: #fff;
}

.navbar .international-call-number {
  color: #fff;
}

.hamburger__btn .bars{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hamburger__btn.active .bars:nth-child(2){
    opacity: 0;
}
.hamburger__btn.active .bars:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger__btn.active .bars:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.header__nav{
    display: none;
}

/***** HOME SECTION *********/
.hero__wrap{
    position: relative;
}

.hero__background{
    height: 100vh;
    background-image: linear-gradient(rgba(33, 37, 41, .6), rgba(33, 37, 41, .9)),url('./img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}