@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

/**** HEADER SECTION ***********/
.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 999;
}

.navbar.sticky{
    padding: 10px auto;
    width: 100%;
    background: #1b1b1b;
}

.navbar .logo{
    flex: 1;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 10px;
}

.navbar .logo span{
    color:aquamarine;
}
.navbar .international-call-number {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
  margin-top: 10px;
}

.navbar .phone-icon{
  font-size: 15px;
  margin-right: 3px;
}

.hamburger__btn{
    margin-right: 20px;
    margin-top: 10px;
}

.hamburger__btn .bars{
    display: block;
    width: 23px;
    height: 3px;
    margin: 4px auto;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hamburger__btn.active .bars:nth-child(2){
    opacity: 0;
}
.hamburger__btn.active .bars:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger__btn.active .bars:nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
}

.hamburger__btn.active{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.header__nav{
    display: none;
}

.header__nav.active{
    display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(33, 37, 41);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.navbar__nav li{
    list-style: none;
    margin-bottom: 15px;
    text-align: center;
}

.navbar__nav li:last-child{
    margin-bottom: 24px;
}
.navbar__nav li a{
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
}

.social__icons li{
    display: inline-block;
    list-style: none;
}

.social__icons li a{
    color: #fff;
    font-size: 27px;
    margin-right: 12px;
}
/***** HOME SECTION *********/

.hero__background{
    height: 100vh;
    background-image: linear-gradient(rgba(33, 37, 41, .7), rgba(33, 37, 41, .8)),url('./img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__content{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;   
}

.hero__text h1{
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.hero__text span{
    display: block;
    margin-left: 3px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: aqua;
}

.hero__text .hero__btn{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    width: 70%;
    background-color: rgb(243, 217, 44);
}

.hero__text .hero__btn:hover{
    color: rgb(33, 37, 41);
}

/****ABOUT SECTION****/
.about{
    padding-top: 56px;
    padding-bottom: 56px;
}

.about .heading__1{
    text-align: center;
    margin-bottom: 8px;
}

.about .heading__1 span{
    background-color: rgb(243, 217, 44);
    padding: 0 8px;
    font-size: 16px;
    font-weight: 400;
}

.about .heading__2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 48px;
}

.about__intro h2{
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.about__intro span{
    font-weight: 700;
    border-bottom: 1px solid rgb(243, 217, 44);
}

.about__intro p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.about__experience{
   text-align: center;
   margin-top: 40px;
}

.about__experience .year{
    background-color: rgb(243, 217, 44);
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
}

.about__experience span{
    position: absolute;
    font-size: 32px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__experience h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.about__experience h3 span{
    font-weight: 700;
}

.about__contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7px;
}
 .about__name,
 .about__email,
 .about__dob,
 .about__address{
     margin-bottom: 10px;
 }


.about__name p:first-child,
.about__email p:first-child,
.about__dob p:first-child,
.about__address p:first-child{
    color: rgb(108, 117, 125);
    font-size: 16px;
}

.about__name p:nth-child(2),
.about__email p:nth-child(2),
.about__dob p:nth-child(2),
.about__address p:nth-child(2){
    font-size: 18px;
    font-weight: 600;
}



@media(min-width: 576px) and (max-width: 767px){
   .navbar .logo{
      margin-left: 40px;
      font-size: 30px;
   }
   .navbar .international-call-number{
    font-size: 18px;
   }

   .navbar .hamburger__btn{
       margin-right: 60px;
   }
   .about__contact{
       padding: 0 45px;
       grid-row-gap: 20px;
   }
   

}
 

@media(min-width: 768px) and (max-width: 991px){
    .navbar .logo{
       flex: 0; 
       font-size: 35px;
       margin-left: 15px;      
   }
   .navbar .international-call-number{
       display: none;
   }
   .navbar .hamburger__btn{
       display: none;
   }
   
   .navbar .phone-icon {
       font-size: 20px;
   }
   .header__nav{
        display: flex;
        justify-content: flex-end;
        flex: 1;
   }

   .navbar__nav{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 20px;
   }
   .navbar__nav li{
       list-style: none;
       margin-right: 25px;
   }

   .navbar__nav li:last-child{
       margin-top: 10px;
   }
   .navbar__nav li a{
       color: #fff;
       text-decoration: none;
       text-transform: uppercase;
       font-size: 16px;
   }
   .social__icons{
       display: none;
   }

   .about__contact{
    padding: 0 60px;
    grid-row-gap: 20px;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .about__contact{
        grid-template-columns: repeat(4, 1fr);
    }
}